

@tailwind base;
@tailwind components;

@font-face {
    font-family: Lato;
    src: local('Lato'), url(../assets/fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: Montserrat;
    src: local('Montserrat'), url(../assets/fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Montserrat-Bold;
    src: local('Montserrat-Bold'), url(../assets/fonts/Montserrat-Bold.ttf);
}

@tailwind utilities;